@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create User";
}

@model Person

<div class="container">
    <div>
        <h2>Create new User</h2>
        <p class="lead">Please provide the user information</p>
    </div>
    <div class="row g-3">
        <form method="post" asp-controller="User" asp-action="CreateProcess" class="has-validation" novalidate>
            <div class="col-6">
                <label class="form-label" asp-for="Firstname">FirstName</label>
                <input class="form-control" asp-for="Firstname" type="text" required />
            </div>
            <div class="col-6">
                <label class="form-label" asp-for="Lastname">FirstName</label>
                <input class="form-control" asp-for="Lastname" type="text" required />
            </div>
            <div class="col-12">
                <label class="form-label" asp-for="Email">Email</label>
                <input class="form-control" asp-for="Email" type="email" placeholder="my@email.com" required />
            </div>
            <div class="col-6">
                <label class="form-label" asp-for="User.Username">Username</label>
                <div class="input-group">
                    <span class="input-group-text">@</span>
                    <input class="form-control" asp-for="User.Username" type="text" required />
                </div>
            </div>
            <div class="col-6">
                <label class="form-label" asp-for="User.Password">Username</label>
                <input class="form-control" asp-for="User.Password" type="password" required />
            </div>
            <button class="btn btn-success" type="submit">Create</button>
        </form>
    </div>
</div>
